.nf_container {
	margin-top: 150px;
}
.nf_img{
width: 250px;
margin:0 auto;
}
.nf_h1{
	width: 350px;
	margin: 0 auto;
}
.nf_text{
	margin: 0 auto;
	margin-top: 20px;
	width: 170px;
	color: #fff;
	font-style: 16px;
	align-items: center;
	justify-content: center;

}
.nf_btn {
	margin: auto;
	width: 118px;
}