$button-bg-1: #541388;
$button-bg-3: #104547;

.page-link {
	margin: 16px;
	background-color: #541388;
}
button {
	height: 40px;
	// color:#541388;
	color:#fd7e14;
	&:nth-child(1) {
		background-color: $button-bg-1;
	}
}
button :disabled {
	color:red;
	background-color: $button-bg-3;
}
.pagination {
	width: 198px;
}
.pagination_wrapper{
	width: 400px;
	margin:auto;
}
.page-item {
	width: 200px;
} 
