.cards{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	margin-left: 70px;
	
}
.card_item {
	margin-top: 30px;
	width: 260px;
	margin-bottom: 10px;
}
.card_item img{
	width: 170px;
	margin: auto;
	margin-top: 20px;
}
	
.card-title{
	margin: auto;
	margin-left: 37px;
}
.card-text{
	margin: auto;
	margin-left: 37px;
}
.card-btn{
	margin: auto;
	margin-top: 15px;
	margin-left: 37px;

}