.cards{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	
}
.card_item {
	margin-top: 30px;
	width: 300px;
	margin-bottom: 30px;
}
.card_item img{
	width: 170px;
	margin: 25px;
	
}