$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$color_grey: #BFBFBF;
$color_green: #B3D23F;
$color_dark: #1A1A1A;
$color_light: #272525;
$color_background: #2D3235;
$default_timer: 987ms;

$primary: $yellow;

$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;

$btn-color: $indigo;
$btn-box-shadow: inset 0 1px 0 rgba($orange, 0.15), 0 1px 1px rgba($black, 0.075) !default;

$body-color: $gray-700;
$color-primary-black: #10100e;

$background-img: 'https://sun9-3.userapi.com/impf/nDu9Mlppytew_phu_LXWnksrzzw6XnkIZ75A1A/e1YZMuQkgxI.jpg?size=630x420&quality=96&sign=8ebbd760f12a2d76d875c7715ad782c6&type=album'