.person {
	width: 500px;
	margin: 50px;
	
}
.person_info{
	border: 1px solid black;
	width: 200px;
	margin: 40px;
}
.person_img img{
	width: 170px;
	margin: 20px;
}
.person_name{
	margin-left: 100px;
	margin-top: 20px;
}