.person {
	width: 600px;
	margin: 50px;
	
}
.person_info{
	border: 1px solid black;
	width: 300px;
}
.person_img img{
	width: 170px;
	margin: 20px;
	border: 1px solid black;
	box-shadow: 25%;
}
.person_name{
	margin-left: 100px;
	margin-top: 20px;
}