.errorApi {
	margin: auto;
	width: 600px;
	margin-top: 150px;
}
.errorApi p {
	font-size: 24px;
	color:yellow;
	margin-left: 150px;
}
.errorApi img {
	width: 600px;
}
h2{
	margin-left: 200px;

}
